@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Lexend Deca', sans-serif;
}

/* body {
    display: flex;
    width: 100%;
} */

/* font-family: 'Gochi Hand', cursive; */
